body {
  background-color: #000000;
}
h1 {
  position:absolute;
  margin-left:550px;
  margin-top:0px;
  width:400px;
  height:50px;
  text-align:center;
  color:white;
}
h2 {
  position:absolute;
  margin-left:200px;
  margin-top:75px;
  width:1100px;
  height:50px;
  text-align:center;
  color:white;
}
a:link {
  color: white;
  background-color: transparent;
}
a:link, a:visited {
  color: white;
}
#controle{
  background-color: #062F4F;
  position:absolute;
  margin-left:1215px;
  margin-top:110px;
  width:245px;
  height:545px;
  color:white;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}
#imagens{
  background-color: #062F4F;
  position:absolute;
  margin-left:30px;
  margin-top:110px;
  width:1180px;
  height:545px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}
#imgfinal{
  background-color: #062F4F;
  position:absolute;
  margin-left:30px;
  margin-top:661px;
  width:1430px;
  height:530px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}
#abobrinha{
  font-size:16pt;
  text-align: justify;
  text-justify: inter-word;
  background-color: #062F4F;
  position:absolute;
  margin-left:30px;
  margin-top:1220px;
  width:1430px;
  height:3400px;
  color:white;
}